form {
    display: flex;
    justify-content: center;
}

fieldset {
    width: 400px;
    margin-top: 40px;
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

label input  {
margin: 15px;
}

.search-button {
    background-color: aqua;
    width: 150px;
}